__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/

.git
.gitignore
.env
.env.*
.vscode/
.idea/
*.sw?
.DS_Store

Dockerfile
Dockerfile.*
README.md

config/
tests/
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/
